@model SewingCompany.DbModels.Customer

@{
    ViewData["Title"] = "Details";
}
<div>
    <a class="classic-button" asp-action="Index">&lt; Back to List</a>
</div>
<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orders)
        </dt>
        <dd class="col-sm-10">
            
                @if (Model.Orders.Count == 0)
                {
                    @("none")
                }
                else
                {
                    @foreach (var order in Model.Orders)
                {
                        @($"Product name: {order.Product.Name}, Amount: {order.Amount}, Price: {Math.Round(Convert.ToDecimal(order.Product.Price * order.Amount), 2)}$")
                        <a class="change-button edit-button" asp-controller="Orders" asp-action="Edit" asp-route-id="@order.Id">Edit</a><a class="change-button details-button" asp-controller="Orders" asp-action="Details" asp-route-id="@order.Id">Details</a><a class="change-button delete-button" asp-controller="Orders" asp-action="Delete" asp-route-id="@order.Id">Delete</a>
                        <br/>
                        <br/>
                    }
                }
            
        </dd>
    </dl>
</div>
<div class="center-button">
    <a class="classic-button"  asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
</div>
